@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

*{
  font-family: "RobotoMono", monospace;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #fff;
  background: linear-gradient(to right, rgb(35, 7, 77), rgb(204, 83, 51));
  margin: 0;
}